*{
    margin:0;
    font-family:sans-serif;
    border: border-box; /* Border area is included in content area */
}

/* Nav Bar */
.navbar{
    height:60px;
    background-color: #0f1111;
    color:white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* Nav Logo */
.navlogo{
    height: 50px;
    width: 100px;
}
.logo{
    height:100%;
    width:100%;
    background-image: url(amazon_logo.png);
    background-size: cover;
}

.border{
    border: 1px solid transparent;
}

.border:hover{
    border: 1.5px solid white;
    border-radius: 2px;
}

/* Delivery Box */
.deliverbox{
    width: 110px;
    height: 50px;
    display: flex;
    align-items: center;
}

.location{
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items:center;
}
.prevLoc{
    height:40%;
    width:100%;
}
.fa-location-dot{
    padding: 2px;
    padding-bottom: 12px;
    font-size: 1.2rem;
}
.del{
    padding-left: 3px;
    font-size: 12px;
}
.bd{
    padding: 3px;
    font-size: 13.5px;
    font-weight: bolder;
}

/* Nav Search Box */
.navsearch{
    display:flex;
    justify-content: space-between;
    background-color: aqua;
    width: 1200px;
    height: 40px;
    border-radius: 5px;
}
.navsearch:hover{
    border: 2px solid #febd68;
}
.searchSelect{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border:none;
}
.searchSelect:active{
    border:none;
}
.searchInput{
    width:100%;
    border:none;
    font-size: 1rem;
}
.searchicon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: #0f1111;
    background-color: #febd68;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* Language Box */
.lang{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 50px;
}
.langSelect{
    color:#f3f3f3;
    background-color: #0f1111;
    border:none;
    font-weight:900;
    font-size: 13.5px;
}

/* Signin Box */
.signin{
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
}

/* Order Box */
.order{
    height: 50px;
    width: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.ret{
    align-self: flex-start;
    padding-left: 8px;
    font-size: 12px;
}

/* Order Box */
.cart{
    height: 50px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.cart i{
    font-size: 30px;
}

/**          Panel              **/
.panel{
    background-color: #222f3d;
    height: 40px;
    display:flex;
    justify-content:flex-start;
    align-items: center;
    color: #f3f3f3;
    font-size: 14px;
    font-weight: 700;
    padding-left: 15px;
    padding-right: 15px;
}
.menu{
    padding: 8px;
    padding-top: 9px;
    padding-bottom: 9px;
}
.opts{
    flex-grow: 1;
}
.panel a{
    text-decoration: none;
    color: #f3f3f3;
    font-size: 14px;
    font-weight: 700;
    padding: 8px;
    padding-top: 9px;
    padding-bottom: 9px;
}
.deals{
    padding: 8px;
    padding-top: 9px;
    padding-bottom: 9px;
}

/**          Hero Section              **/

.herosection{
    height: 400px;
    background-image: url(hero_image.jpg);
    background-size: cover;
    display:flex;
    align-items: flex-end;
    justify-content: center;

}
.heromsg{
    height: 40px;
    width: 90%;
    background-color: #f3f3f3;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.heromsg a{
    text-decoration: none;
    color: #03d9e0;
}

/**          Shop  Section              **/
.shop-section{
    display:flex;
    justify-content: space-evenly;
    flex-wrap:wrap ;
    background-color: #e2e7e6;
    padding-top: 15px;
    padding-bottom: 30px;
}
.box{
    height: 450px;
    width: 23%;
    background-color:white;
    padding: 20px 0px 15px;
    margin-top: 1rem;
}
.box-img{
    background-size: cover;
    height: 370px;
    margin-top: 1rem;
}
.box-content{
    padding-left: 1rem;
    padding-right: 1rem;
    display:flex;
    flex-direction: column;
}
.box p{
    font-size: 16px;
    padding-top: 15px;
    color: #03d9e0;
}

/**         Foot Panels              **/
.backtotop{
    background-color: #37475a;
    color: #f3f3f3;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footpanel2{
    padding-top: 30px;
    padding-bottom: 80px;
    background-color: #222f3d;
    color: #f3f3f3;
    display: flex;
    justify-content: center;
}

.footpanel2 ul{
    display: flex;
    flex-direction: column;
    width: 170px;
    margin-left: 25px;
    margin-right: 25px;
}
.footpanel2 p{
    font-size: large;
    color: white;
}
.footpanel2 a{
    font-size:small;
    color:#dddddd;
    margin: 5px;
}

.footpanel3{
    height: 70px;
    background-color: #222f3d;
    border-top: 0.5px solid rgb(218, 212, 212);
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottomlogo{
    height: 50px;
    width: 100px;
    margin-right: 50px;
}

.border2{
    border: 0.2px solid rgb(204, 200, 200);
}

.selectlang{
    height: 30px;
    background-color: #222f3d;
    color: #f3f3f3;
    display:flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 20px;
}
.eng{
    margin: 5px;
    border-radius: 3px;
}
.dollar{
    height: 30px;
    background-color: #222f3d;
    color: #f3f3f3;
    display:flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 20px;
    margin: 5px;
    border-radius: 3px;
}
.united{
    height: 30px;
    background-color: #222f3d;
    color: #f3f3f3;
    display:flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 20px;
    margin: 5px;
    border-radius: 3px;
}


.footpanel4{
    height:220px;
    padding-top: 20px;
    background-color: #0f1111;
    display: flex;
    justify-content: center;
}
.centerspace{
    height:200px;
    width: 1100px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}
.link{
    width:100px;
    margin-left: 25px;
    margin-right: 25px;
}
.a1{
    color: white;
    font-size:small;
}
.a1:hover{
    text-decoration: underline;
}
.a2{
    font-size: smaller;
    color: darkgray;
}
.a2:hover{
    text-decoration: underline;
}
.footpanel5{
    height:30x;
    background-color: #0f1111;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
.bottomlinks{
    color: white;
    font-size:small;
}
.bottomlinks a{
    margin-left: 10px;
    margin-right: 10px;
}
.bottomlinks a:hover{
    text-decoration: underline;
}
.license{
    font-size: smaller;
    color: darkgray;
}